<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Yazılım Envanteri</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Yazılım Envanteri</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#software" aria-controls="software" role="tab" data-toggle="tab">Yazılım</a></li>
					<li role="presentation"><a href="#process" aria-controls="process" role="tab" data-toggle="tab">Hizmet</a></li>
			    	<li role="presentation"><a href="#problem" aria-controls="problem" role="tab" data-toggle="tab">Sorunlar</a></li>
			  	</ul>
			
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="software">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Yazılım listesi</h3>
							</div>
							<div class="box-body">
								<table id="packageTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Yazılım Adı</th>
											<th>Sürümü</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>					
					</div>
					<div role="tabpanel" class="tab-pane" id="process">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Hizmet listesi</h3>
							</div>
							<div class="box-body">
								<table id="processTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Hizmet Adı</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>					
					</div>
					<div role="tabpanel" class="tab-pane" id="problem">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Yazılım kaynaklı sorunlar</h3>
							</div>
							<div class="box-body">
								<table id="problemTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Kısa Tanım</th>
											<th>Açıklama</th>
											<th>Durum</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Delete confirmation modal -->
		<div
			layout:insert="layouts/default-modal :: modal(modalId='deleteConfirmModal', modalHeader='Kayıt silinecek?', modalButton='Devam')"
			th:remove="tag">
			<p layout:fragment="modal-content">Seçili kayıt silinmek üzere. Devam etmek istiyor musunuz?</p>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		// Hook handler for delete confirmation
		var tables = {};
		var handleDelete = function(url, tableToRefresh) {
			console.log(url);
			console.log(tableToRefresh);
			$("#deleteConfirmModalBtn").click(function(){
				$('#deleteConfirmModal').modal('hide');
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : url,
					dataType : 'json',
					cache : false,
					timeout : 600000,
					beforeSend: function(xhr) {
						var token = $('#_csrf').attr('content');
						var header = $('#_csrf_header').attr('content');
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						alertify.success('Kayıt silindi.');
						if (tables[tableToRefresh]) tables[tableToRefresh].ajax.reload();
					}
				});
			});
			$('#deleteConfirmModal').modal('show');
		};
		
		$(function() {
			
			// Software
			var fnActionBtnsSoftware = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
					+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/installed-package/" + row["id"] + "\"><i class=\"fa fa-edit\"></i></a>"
					+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/installed-package/" + row['id'] + "/delete', 'packageTable')\"><i class=\"fa fa-trash\"></i></button>" 
					+ "</div>";
			};
			var drawCallbackSoftware = function(settings) {
				if ($("#newPackageBtn").length == 0) {
					$("#packageTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newPackageBtn\">Yeni</button>");
					$("#newPackageBtn").on("click", function() {
						window.location.href = '/alfa/installed-package/create';
					});
				}
			};
			const colsSoftware = [
				{"data": "name", "property": "name", "name": "Paket Adı", "searchable": true, "orderable": true }, 
				{"data": "version", "property": "version", "name": "Paket Sürümü", "searchable": true, "orderable": true }, 
				{"data": fnActionBtnsSoftware, "name": "İşlem", "searchable": false, "orderable": false }
			];
			tables.packageTable = $('#packageTable').paginatedTable("/alfa/installed-package/list-paginated", "packages", colsSoftware, drawCallbackSoftware);
			
			// Process
			var fnActionBtnsProcess = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
				+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/process/" + row["id"] + "\"><i class=\"fa fa-edit\"></i></a>"
				+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/process/" + row['id'] + "/delete', 'processTable')\"><i class=\"fa fa-trash\"></i></button>" 
				+ "</div>";
			};
			var drawCallbackProcess = function(settings) {
				if ($("#newProcessBtn").length == 0) {
					$("#processTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newProcessBtn\">Yeni</button>");
					$("#newProcessBtn").on("click", function() {
						window.location.href = '/alfa/process/create';
					});
				}
			};
			const colsProcess = [
				{"data": "name", "property": "name", "name": "Hizmet Adı", "searchable": true, "orderable": true }, 
				{"data": fnActionBtnsProcess, "name": "İşlem", "searchable": false, "orderable": false }
			];
			
			// Problem
			var fnActionBtnsProblem = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
				+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/problem/" + row["id"] + "?redirect=software/list\"><i class=\"fa fa-edit\"></i></a>"
				+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/problem/" + row['id'] + "/delete', 'problemTable')\"><i class=\"fa fa-trash\"></i></button>" 
				+ "</div>";
			};
			var drawCallbackProblem = function(settings) {
				if ($("#newProblemBtn").length == 0) {
					$("#problemTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newProblemBtn\">Yeni</button>");
					$("#newProblemBtn").on("click", function() {
						window.location.href = '/alfa/problem/create?redirect=software/list';
					});
				}
			};
			const colsProblem = [
				{"data": "label", "property": "label", "name": "Kısa Tanım", "searchable": true, "orderable": true }, 
				{"data": "description", "property": "description", "name": "Açıklama", "searchable": true, "orderable": true }, 
				{"data": "solved", "property": "solved", "name": "Durum", "searchable": true, "orderable": true }, 
				{"data": fnActionBtnsProblem, "name": "İşlem", "searchable": false, "orderable": false }
			];
			
			// Handle table init
			$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				if ($(e.target).attr('href') == "#problem") {
					tables.problemTable = $('#problemTable').paginatedTable("/alfa/problem/list-paginated?referenceType=7", "problems", colsProblem, drawCallbackProblem);
				} else if ($(e.target).attr('href') == "#process") {
					tables.processTable = $('#processTable').paginatedTable("/alfa/process/list-paginated", "processes", colsProcess, drawCallbackProcess);			
				}
			});
		});
	</script>
</body>
</html>
