<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Yazılım Envanteri</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Yazılım Envanteri</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#software" aria-controls="software" role="tab" data-toggle="tab">Yazılım</a></li>
					<li role="presentation"><a href="#process" aria-controls="process" role="tab" data-toggle="tab">Hizmet</a></li>
			    	<li role="presentation"><a href="#problem" aria-controls="problem" role="tab" data-toggle="tab">Sorunlar</a></li>
			    	<li role="presentation"><a href="#compatiblePackage" aria-controls="compatiblePackage" role="tab" data-toggle="tab">Uyumlu Yazılımlar</a></li>
			    	<li role="presentation"><a href="#incompatiblePackage" aria-controls="incompatiblePackage" role="tab" data-toggle="tab">Uyumsuz Yazılımlar</a></li>
			  	</ul>
			
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="software">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Yazılım listesi</h3>
							</div>
							<div class="box-body">
								<table id="packageTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Yazılım Adı</th>
											<th>Sürümü</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>					
					</div>
					<div role="tabpanel" class="tab-pane" id="process">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Hizmet listesi</h3>
							</div>
							<div class="box-body">
								<table id="processTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Hizmet Adı</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>					
					</div>
					<div role="tabpanel" class="tab-pane" id="problem">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Yazılım kaynaklı sorunlar</h3>
							</div>
							<div class="box-body">
								<table id="problemTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Kısa Tanım</th>
											<th>Açıklama</th>
											<th>Durum</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="compatiblePackage">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Uyumlu Yazılımlar</h3>
							</div>
							<div class="box-body">
								<table id="compatiblePackageTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Yazılım Adı</th>
											<th>Sürümü</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="incompatiblePackage">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Uyumsuz Yazılımlar</h3>
							</div>
							<div class="box-body">
								<table id="incompatiblePackageTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Yazılım Adı</th>
											<th>Sürümü</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Delete confirmation modal -->
		<div
			layout:insert="layouts/default-modal :: modal(modalId='deleteConfirmModal', modalHeader='Kayıt silinecek?', modalButton='Devam')"
			th:remove="tag">
			<p layout:fragment="modal-content">Seçili kayıt silinmek üzere. Devam etmek istiyor musunuz?</p>
		</div>
		
		<!-- Process Selection Modal -->
		<div layout:insert="layouts/default-modal :: modal(modalId='processSelectModal', modalHeader='Süreç Başlat', modalButton='Başlat')"
			th:remove="tag">
			<div layout:fragment="modal-content" class="form-group">
				<select class="form-control" id="bpmProcess" name="bpmProcess" style="width: 100%;">
					<option th:each="process : ${processes}" th:text="${process.name + ' [' + process.version + ']'}" th:value="${process.id}"></option>
				</select>
			</div>
		</div>		
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
	
		var startProcess = function(id) {
			$("#processSelectModalBtn").on("click", function(){
				$('#processSelectModal').modal('hide');
				window.location.href = "/alfa/bpm-task/startForm/" + $("#bpmProcess").val() + "?relatedComponent=Sorun&relatedComponentId="+id + "&redirect=software%2Flist%23problem";
			});
			
			$('#processSelectModal').modal('show');
		};
	
		// Hook handler for delete confirmation
		var tables = {};
		var handleDelete = function(url, tableToRefresh) {
			$("#deleteConfirmModalBtn").on("click", function(){
				$('#deleteConfirmModal').modal('hide');
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : url,
					dataType : 'json',
					cache : false,
					timeout : 600000,
					beforeSend: function(xhr) {
						var token = $('#_csrf').attr('content');
						var header = $('#_csrf_header').attr('content');
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						alertify.success('Kayıt silindi.');
						if (tables[tableToRefresh]) tables[tableToRefresh].ajax.reload();
					}
				});
			});
			$('#deleteConfirmModal').modal('show');
		};
		
		$(function() {
			
			// Software
			var fnActionBtnsSoftware = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
					+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/installed-package/" + row["id"] + "\"><i class=\"fa fa-edit\"></i> Düzenle</a>"
					+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/installed-package/" + row['id'] + "/delete', 'packageTable')\"><i class=\"fa fa-trash\"></i> Sil</button>"
					+ "</div>";
			};
			var drawCallbackSoftware = function(settings) {
				if ($("#newPackageBtn").length == 0) {
					$("#packageTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newPackageBtn\">Yeni</button>");
					$("#newPackageBtn").on("click", function() {
						window.location.href = '/alfa/installed-package/create';
					});
				}
			};
			
			const colsSoftware = [
				{"data": "name", "searchable": true, "orderable": true }, 
				{"data": "version", "searchable": true, "orderable": true }, 
				{"data": fnActionBtnsSoftware, "searchable": false, "orderable": false }
			];
			tables.packageTable = $('#packageTable').paginatedTable("/alfa/installed-package/list-paginated", "packages", colsSoftware, drawCallbackSoftware);
			
			// Process
			var fnActionBtnsProcess = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
				+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/process/" + row["id"] + "\"><i class=\"fa fa-edit\"></i> Düzenle</a>"
				+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/process/" + row['id'] + "/delete', 'processTable')\"><i class=\"fa fa-trash\"></i> Sil</button>" 
				+ "</div>";
			};
			var drawCallbackProcess = function(settings) {
				if ($("#newProcessBtn").length == 0) {
					$("#processTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newProcessBtn\">Yeni</button>");
					$("#newProcessBtn").on("click", function() {
						window.location.href = '/alfa/process/create';
					});
				}
			};
			const colsProcess = [
				{"data": "name", "searchable": true, "orderable": true }, 
				{"data": fnActionBtnsProcess, "searchable": false, "orderable": false }
			];
			
			// Problem
			var fnActionBtnsProblem = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
				+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/problem/" + row["id"] + "?referenceType=7&redirect=software/list\"><i class=\"fa fa-edit\"></i> Düzenle</a>"
				+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/problem/" + row['id'] + "/delete', 'problemTable')\"><i class=\"fa fa-trash\"></i> Sil</button>"
				+ "<button class=\"btn btn-outline-dark\" onclick=\"startProcess("+ row['id']+")\"><i class=\"fa fa-play\"></i> Süreç Başlat</button>"
				+ "</div>";
			};
			var drawCallbackProblem = function(settings) {
				if ($("#newProblemBtn").length == 0) {
					$("#problemTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newProblemBtn\">Yeni</button>");
					$("#newProblemBtn").on("click", function() {
						window.location.href = '/alfa/problem/create?referenceType=7&redirect=software/list';
					});
				}
			};
			const colsProblem = [
				{"data": "label", "searchable": true, "orderable": true }, 
				{"data": "description", "searchable": true, "orderable": true }, 
				{"data": 
					function ( row, type, val, meta ) { 
						row["solved_str"] = (row["solved"] == true ? "Çözüldü" : "Devam ediyor"); 
						return row["solved_str"]; 
					}
				, "searchable": true, "orderable": true }, 
				{"data": fnActionBtnsProblem, "searchable": false, "orderable": false }
			];
			
			// Compatible(Incompatible Software
			var fnActionBtnsCompatibleSoftware = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
					+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/installed-package/" + row["id"] + "\"><i class=\"fa fa-edit\"></i> Düzenle</a>"
					+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/installed-package/" + row['id'] + "/delete', 'compatiblePackageTable')\"><i class=\"fa fa-trash\"></i> Sil</button>"
					+ "</div>";
			};
			var drawCallbackCompatibleSoftware = function(settings) {
			};
			
			const colsCompatibleSoftware = [
				{"data": "name", "searchable": false, "orderable": true }, 
				{"data": "version", "searchable": false, "orderable": true }, 
				{"data": fnActionBtnsCompatibleSoftware, "searchable": false, "orderable": false }
			];
			
			// Handle table init
			$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				if ($(e.target).attr('href') == "#problem") {
					tables.problemTable = $('#problemTable').paginatedTable("/alfa/problem/list-paginated?referenceType=7", "problems", colsProblem, drawCallbackProblem);
				} else if ($(e.target).attr('href') == "#process") {
					tables.processTable = $('#processTable').paginatedTable("/alfa/process/list-paginated", "processes", colsProcess, drawCallbackProcess);			
				} else if ($(e.target).attr('href') == "#compatiblePackage") {
					tables.compatiblePackageTable = $('#compatiblePackageTable').paginatedTable("/alfa/installed-compatible-package/list-paginated?compatible=E", "compatiblePackages", colsCompatibleSoftware, drawCallbackCompatibleSoftware);
				} else if ($(e.target).attr('href') == "#incompatiblePackage") {
					tables.incompatiblePackageTable = $('#incompatiblePackageTable').paginatedTable("/alfa/installed-compatible-package/list-paginated?compatible=H", "compatiblePackages", colsCompatibleSoftware, drawCallbackCompatibleSoftware);
				}
				
			});
		});
	</script>
</body>
</html>
