<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<!--/*@thymesVar id="roles" type="java.util.List<tr.com.agem.lider.model.Role>"*/-->
<head>
	<title>Sorun Ekle</title>
	<!-- iCheck -->
	<link th:href="@{/plugins/iCheck/all.css}" rel="stylesheet" />
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li><a th:href="${'alfa/' + form.redirect}"><i class="fa fa-cubes"></i> <span th:text="${rlabel}"></span></a></li>
		<li class="active">CPU Ekle</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">CPU Ekle</h3>
					</div>
					<form role="form" id="cpuForm" th:action="@{/hardware/cpu/create}" method="post" th:object="${form}">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    						<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
						</div>
						<input type="text" id="redirect" style="display:none;" name="redirect" th:field="*{redirect}" />
						<div class="box-body">
							<div class="form-group" th:classappend="${#fields.hasErrors('brand')} ? 'has-error' : ''">
								<label for="brand">Marka</label>
								<input type="text" class="form-control" id="brand"
									name="brand" placeholder="Marka" th:field="*{brand}" />
								<span class="help-block" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('hzAdvertised')} ? 'has-error' : ''">
								<label for="hzAdvertised">HZ Önerilen</label>
								<input type="text" class="form-control" id="hzAdvertised"
									name="hzAdvertised" placeholder="HZ Önerilen" th:field="*{hzAdvertised}" />
								<span class="help-block" th:if="${#fields.hasErrors('hzAdvertised')}" th:errors="*{hzAdvertised}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('logicalCoreCount')} ? 'has-error' : ''">
								<label for="logicalCoreCount">Mantıksal Çekirdek Sayısı</label>
								<input type="text" class="form-control" id="logicalCoreCount"
									name="logicalCoreCount" placeholder="Mantıksal Çekirdek Sayısı" th:field="*{logicalCoreCount}" />
								<span class="help-block" th:if="${#fields.hasErrors('logicalCoreCount')}" th:errors="*{logicalCoreCount}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('processor')} ? 'has-error' : ''">
								<label for="processor">İşlemci</label>
								<input type="text" class="form-control" id="processor"
									name="processor" placeholder="İşlemci" th:field="*{processor}" />
								<span class="help-block" th:if="${#fields.hasErrors('processor')}" th:errors="*{processor}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('pyhsicalCoreCount')} ? 'has-error' : ''">
								<label for="pyhsicalCoreCount">Fiziksel Çekirdek Sayısı</label>
								<input type="text" class="form-control" id="pyhsicalCoreCount"
									name="pyhsicalCoreCount" placeholder="Fiziksel Çekirdek Sayısı" th:field="*{pyhsicalCoreCount}" />
								<span class="help-block" th:if="${#fields.hasErrors('pyhsicalCoreCount')}" th:errors="*{pyhsicalCoreCount}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('arch')} ? 'has-error' : ''">
								<label for="arch">arch</label>
								<input type="text" class="form-control" id="arch"
									name="arch" placeholder="arch" th:field="*{arch}" />
								<span class="help-block" th:if="${#fields.hasErrors('arch')}" th:errors="*{arch}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('bits')} ? 'has-error' : ''">
								<label for="bits">bits</label>
								<input type="text" class="form-control" id="bits"
									name="bits" placeholder="bits" th:field="*{bits}" />
								<span class="help-block" th:if="${#fields.hasErrors('bits')}" th:errors="*{bits}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('count')} ? 'has-error' : ''">
								<label for="count">count</label>
								<input type="text" class="form-control" id="count"
									name="count" placeholder="count" th:field="*{count}" />
								<span class="help-block" th:if="${#fields.hasErrors('count')}" th:errors="*{count}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('extendedFamily')} ? 'has-error' : ''">
								<label for="extendedFamily">extendedFamily</label>
								<input type="text" class="form-control" id="extendedFamily"
									name="extendedFamily" placeholder="extendedFamily" th:field="*{extendedFamily}" />
								<span class="help-block" th:if="${#fields.hasErrors('extendedFamily')}" th:errors="*{extendedFamily}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('family')} ? 'has-error' : ''">
								<label for="family">family</label>
								<input type="text" class="form-control" id="family"
									name="family" placeholder="family" th:field="*{family}" />
								<span class="help-block" th:if="${#fields.hasErrors('family')}" th:errors="*{family}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('l2CacheAssociativity')} ? 'has-error' : ''">
								<label for="l2CacheAssociativity">l2CacheAssociativity</label>
								<input type="text" class="form-control" id="l2CacheAssociativity"
									name="l2CacheAssociativity" placeholder="l2CacheAssociativity" th:field="*{l2CacheAssociativity}" />
								<span class="help-block" th:if="${#fields.hasErrors('l2CacheAssociativity')}" th:errors="*{l2CacheAssociativity}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('l2CacheLineSize')} ? 'has-error' : ''">
								<label for="l2CacheLineSize">l2CacheLineSize</label>
								<input type="text" class="form-control" id="l2CacheLineSize"
									name="l2CacheLineSize" placeholder="l2CacheLineSize" th:field="*{l2CacheLineSize}" />
								<span class="help-block" th:if="${#fields.hasErrors('l2CacheLineSize')}" th:errors="*{l2CacheLineSize}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('l2CacheSize')} ? 'has-error' : ''">
								<label for="l2CacheSize">l2CacheSize</label>
								<input type="text" class="form-control" id="l2CacheSize"
									name="l2CacheSize" placeholder="l2CacheSize" th:field="*{l2CacheSize}" />
								<span class="help-block" th:if="${#fields.hasErrors('l2CacheSize')}" th:errors="*{l2CacheSize}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('model')} ? 'has-error' : ''">
								<label for="model">model</label>
								<input type="text" class="form-control" id="model"
									name="model" placeholder="model" th:field="*{model}" />
								<span class="help-block" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('rawArchString')} ? 'has-error' : ''">
								<label for="rawArchString">rawArchString</label>
								<input type="text" class="form-control" id="rawArchString"
									name="rawArchString" placeholder="rawArchString" th:field="*{rawArchString}" />
								<span class="help-block" th:if="${#fields.hasErrors('rawArchString')}" th:errors="*{rawArchString}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('vendorId')} ? 'has-error' : ''">
								<label for="vendorId">vendorId</label>
								<input type="text" class="form-control" id="vendorId"
									name="vendorId" placeholder="vendorId" th:field="*{vendorId}" />
								<span class="help-block" th:if="${#fields.hasErrors('vendorId')}" th:errors="*{vendorId}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('agents')} ? 'has-error' : ''">
								<label>Ajan</label>
								<select class="form-control" id="agents" name="agents" style="width: 100%;">
									<option th:each="agent : ${agents}" th:text="${agent.hostName} + ' - ' + ${agent.ipAddresses}" th:value="${agent.id}"></option>
								</select>
								<span class="help-block" th:if="${#fields.hasErrors('agents')}" th:errors="*{agents}">Hata</span>
							</div>
						</div>
						<div class="box-footer">
							<button type="button" id="cancelBtn" class="btn btn-default">İptal</button>
							<div class="btn-toolbar pull-right">
								<button type="submit" class="btn btn-primary pull-right">Kaydet</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		$(function() {
			// Return to list when cancel button is clicked
			$('#cancelBtn').on("click", function() {
				window.location.href = /*[[${'/alfa/' + form.redirect}]]*/'';
			});
			
			// Config checkbox
			$('input[type="checkbox"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue'
		    });
		});
	</script>
</body>
</html>
