<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Saklanan Süreçler</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Saklanan Süreçler</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Süreç listesi</h3>
					</div>
					<div class="box-body">
						<table id="processTable" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Süreç Adı</th>
									<th>Süreç Sürümü</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Delete confirmation modal -->
		<div
			layout:insert="layouts/default-modal :: modal(modalId='deleteConfirmModal', modalHeader='Kayıt silinecek?', modalButton='Devam')"
			th:remove="tag">
			<p layout:fragment="modal-content">
				Seçili kayıt silinmek üzere. Devam etmek istiyor musunuz?<br/>
				<label style="padding-left:0px;"> <input type="checkbox" class="minimal" name="undeploy" id="undeploy"> Sürecin başlatılan ve biten olgularını da sil ve sistemden kaldır.</label>
			</p>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		var tables = {};
		
		var handleDelete = function(url, tableToRefresh) {
			$("#deleteConfirmModalBtn").on("click", function(){
				$('#deleteConfirmModal').modal('hide');
				
				if ($("#undeploy").is(':checked')) {
					url = url + '?undeploy=true';
				}
				
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : url,
					dataType : 'json',
					cache : false,
					timeout : 600000,
					beforeSend: function(xhr) {
						var token = $('#_csrf').attr('content');
						var header = $('#_csrf_header').attr('content');
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						alertify.success('Süreç kaydı silindi, sistemden kaldırıldı.');
						tables.processTable.ajax.reload();
					}
				});
			});
			$('#deleteConfirmModal').modal('show');
		};
	
		$(function() {
			var fnActionBtns = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
				+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/bpm-process/" + row["id"] + "\"><i class=\"fa fa-edit\"></i> Düzenle</a> "
				+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/bpm-process/" + row['id'] + "/delete', 'processTable')\"><i class=\"fa fa-trash\"></i> Sil</button>" 
				+  (!row.processDeploymentId ? "<button class=\"btn btn-outline-danger\" onclick=\"/alfa/bpm-process/deploy/" + row["id"] + "\"><i class=\"fa fa-edit\"></i> Deploy</button>" : "")	
				+  (row.processDeploymentId ? "<a class=\"btn btn-outline-dark\" href=\"/alfa/bpm-task/startForm/" + row["id"] + "\"><i class=\"fa fa-step-forward\"></i> Start</a>" : "")
				+ "</div>";
			};
			
			var drawCallback = function(settings) {
				if ($("#newProcessBtn").length == 0) {
					$("#processTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newProcessBtn\" style=\"margin-left:10px;\">Yeni</button>");
					$("#newProcessBtn").on("click", function() {
						window.location.href = '/alfa/bpm-process/create';
					});
				}
			};
			
			const cols = [
				{"data": "name", "searchable": true, "orderable": true }, 
				{"data": "version", "searchable": true, "orderable": true }, 
				{"data": fnActionBtns, "searchable": false, "orderable": false }
			];
			
			tables.processTable = $('#processTable').paginatedTable("/alfa/bpm-process/list-paginated", "processes", cols, drawCallback);
			
		});
	</script>
</body>
</html>
