<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<!--/*@thymesVar id="roles" type="java.util.List<tr.com.agem.lider.model.Role>"*/-->
<head>
	<title>Create User</title>
	<!-- iCheck -->
	<link th:href="@{/plugins/iCheck/all.css}" rel="stylesheet" />
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
	<!-- Select2 -->
	<link th:href="@{/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li><a th:href="@{/user/list}"><i class="fa fa-users"></i> User Management</a></li>
		<li class="active">Create User</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Create User</h3>
					</div>
					<form role="form" id="userForm" th:action="@{/user/create}" method="post" th:object="${form}">
						<div class="box-body">
							<div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error' : ''">
								<label for="userName">Username</label>
								<input type="text" class="form-control" id="userName"
									name="userName" placeholder="Username" th:field="*{userName}" />
								<span class="help-block" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Error</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
								<label for="email">E-mail</label>
								<input type="text" class="form-control" id="email" name="email"
									placeholder="E-mail" th:field="*{email}" />
								<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error' : ''">
								<label for="firstName">First name</label>
								<input type="text" class="form-control" id="firstName"
									name="firstName" placeholder="First name" th:field="*{firstName}" />
								<span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error' : ''">
								<label for="lastName">Last name</label>
								<input type="text" class="form-control" id="lastName"
									name="lastName" placeholder="Last name" th:field="*{lastName}" />
								<span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</span>
							</div>
							<div class="form-group">
								<label for="phone">Phone</label>
								<input type="text" class="form-control" id="phone" name="phone"
									placeholder="Phone" data-inputmask='"mask": "(999) 999-9999"' 
									data-mask th:field="*{phone}" />
							</div>
							<div class="form-group">
								<label for="title">Title</label>
								<input type="text" class="form-control" id="title" name="title"
									placeholder="Title" th:field="*{title}" />
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error' : ''">
								<label for="password">New password</label>
								<input type="password" class="form-control" id="password"
									name="password" placeholder="New password" th:field="*{password}" />
								<span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('passwordRepeated')} ? 'has-error' : ''">
								<label for="passwordRepeated">Confirm new password</label>
								<input type="password" class="form-control"
									id="passwordRepeated" name="passwordRepeated" placeholder="Confirm new password"
									th:field="*{passwordRepeated}" />
								<span class="help-block" th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">Error</span>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label style="padding-left:0px;"> <input type="checkbox" class="minimal" name="disabled"
										id="disabled" th:field="*{disabled}"> Disable
									</label>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('role')} ? 'has-error' : ''">
								<label>Role</label>
								<select class="form-control select2" id="role" name="role" style="width: 100%;" th:field="*{role.id}" >
									<option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.id}"></option>
								</select>
								<span class="help-block" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Error</span>
							</div>
						</div>
						<div class="box-footer">
							<button type="button" id="cancelBtn" class="btn btn-default">Cancel</button>
							<div class="btn-toolbar pull-right">
								<button type="button" class="btn btn-info" id="openRolesModalBtn">Edit roles</button>
								<button type="submit" class="btn btn-primary pull-right" id="saveUserBtn">Save Changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<div class="modal fade" tabindex="-1" id="rolesModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Edit roles</h4>
					</div>
					<div class="modal-body">
						<table id="roleTable" class="table table-bordered table-striped" style="width: 100%;">
							<thead>
								<tr>
									<th>Name</th>
									<th>Created</th>
									<th>Privileges</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody id="roleTableBody">
								<tr th:each="role : ${roles}" th:attr="roleId=${role.id}">
									<td th:text="${role.name}"></td>
									<td th:text="${#dates.format(role.createdDate, 'dd/MM/yyyy')}"></td>
									<td>
										<select class="form-control select2 modal-select2">
											<option th:each="privilege : ${role.privileges}" th:val="${privilege.id}" th:text="${privilege.label}"></option>
										</select>
									</td>
									<td><a class="btn deleteRoleBtn"><i class="fa fa-remove"></i> Delete</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-left"
							data-dismiss="modal">Cancel</button>
						<div class="btn-toolbar pull-right">
							<button type="button" id="newRoleBtn" class="btn btn-info">New</button>
							<button type="button" id="saveRolesBtn" class="btn btn-primary">Save Changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		var refreshRoleSelect = false;
		var roleDataTable = null;
		$(function() {
			// Return to user list when cancel button is clicked
			$('#cancelBtn').click(function() {
				window.location.href = /*[[@{'/user/list'}]]*/'';
			});
			
			// Config checkbox
			$('input[type="checkbox"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue'
		    });
			
			// Config selectbox
			$('.select2').select2();
			
			// Config phone mask
			$('[data-mask]').inputmask();

			$('#openRolesModalBtn').click(function() {
				$('#rolesModal').modal('show');
				roleDataTable = $('#roleTable').DataTable();
			});
			
			$('#newRoleBtn').click(function() {
				roleDataTable.row.add([
					'<input type="text" class="form-control" placeholder="Name" style="width: 100%;"/>',
					'-',
					'<select class="form-control select2 modal-select2"></select>',
					'<a class="btn deleteRoleBtn"><i class="fa fa-remove"></i> Delete</a>'
				]).draw();
				$('.modal-select2').select2();
			});
			
			// TODO refresh role table!
			$('#saveRolesBtn').click(function(){
				var roles = [];
				$("tr", "#roleTableBody").each(function(){
					var roleId = $(this).attr("roleid");
					var roleName = roleId ? $(this).first().text() : $("input", this).val();
					var privIds = [];
					$("select option:selected", this).each(function() { privIds.push({ "id": $(this).val() }); });
					var role = {};
					if (roleId) {
						role['id'] = roleId;
					} else {
						refreshRoleSelect = true;
					}
					role['name'] = roleName;
					if (privIds) {
						role['privileges'] = privIds;
					}
					roles.push(role);
				});
				// Send roles
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/lider/role/save",
					data: JSON.stringify(roles),
					dataType : 'json',
					cache : false,
					timeout : 600000,
					beforeSend: function(xhr) {
						var token = $('#_csrf').attr('content');
						var header = $('#_csrf_header').attr('content');
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						alertify.success("Role changes saved successfully.");
					},
					error : function(e) {
						alertify.error("Error occurred when trying to save role(s).");
						console.log("ERROR : ", e);
					}
				});
				if (refreshRoleSelect) {
					// Refresh role select box if new role is created or some role is deleted!!!
					// TODO
					refreshRoleSelect = false;
				}
			});
			
			// TODO refresh role table!
			$('#roleTableBody').on('click', '.deleteRoleBtn', function() {
				var roleId = $(this).closest('tr').attr('roleid');
				if (roleId) {
					// Delete role
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : "/lider/role/" + roleId + "/delete",
						dataType : 'json',
						cache : false,
						timeout : 600000,
						beforeSend: function(xhr) {
							var token = $('#_csrf').attr('content');
							var header = $('#_csrf_header').attr('content');
							xhr.setRequestHeader(header, token);
						},
						success : function(result) {
							alertify.success("Role deleted successfully.");
						},
						error : function(e) {
							alertify.error("Error occurred when trying to delete role.");
							console.log("ERROR : ", e);
						}
					});
				} else {
					// Just delete the row
					roleDataTable.row($(this).closest('tr')).remove().draw();
				}
			});
		});
	</script>
</body>
</html>
