<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<!--/*@thymesVar id="roles" type="java.util.List<tr.com.agem.lider.model.Role>"*/-->
<head>
	<title>Kullanıcı Düzenle</title>
	<!-- iCheck -->
	<link th:href="@{/plugins/iCheck/all.css}" rel="stylesheet" />
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
	<!-- Select2 -->
	<link th:href="@{/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li><a th:href="@{/user/list}"><i class="fa fa-users"></i> Sistem Kullanıcıları Listesi</a></li>
		<li class="active">Kullanıcı Düzenle</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Kullanıcı Düzenle</h3>
					</div>
					<form role="form" id="sysUserForm" th:action="@{'/sysuser/' + ${form.id}}" method="post" th:object="${form}">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    						<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
						</div>
						<div class="box-body">
							<div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error' : ''">
								<label for="userName">Kullanıcı adı</label>
								<input type="text" class="form-control" id="userName"
									name="userName" placeholder="Username" th:field="*{userName}" />
								<span class="help-block" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error' : ''">
								<label for="email">E-posta</label>
								<input type="text" class="form-control" id="email" name="email"
									placeholder="E-mail" th:field="*{email}" />
								<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('firstName')} ? 'has-error' : ''">
								<label for="firstName">İsim</label>
								<input type="text" class="form-control" id="firstName"
									name="firstName" placeholder="First name" th:field="*{firstName}" />
								<span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('lastName')} ? 'has-error' : ''">
								<label for="lastName">Soyisim</label>
								<input type="text" class="form-control" id="lastName"
									name="lastName" placeholder="Last name" th:field="*{lastName}" />
								<span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error' : ''">
								<label for="password">Yeni parola</label>
								<input type="password" class="form-control" id="password"
									name="password" placeholder="New password" th:field="*{password}" />
								<span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('passwordRepeated')} ? 'has-error' : ''">
								<label for="passwordRepeated">Yeni parolayı doğrulayın</label>
								<input type="password" class="form-control"
									id="passwordRepeated" name="passwordRepeated" placeholder="Confirm new password"
									th:field="*{passwordRepeated}" />
								<span class="help-block" th:if="${#fields.hasErrors('passwordRepeated')}" th:errors="*{passwordRepeated}">Hata</span>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label style="padding-left:0px;"> <input type="checkbox" class="minimal" name="disabled"
										id="disabled" th:field="*{disabled}"> Hesabı dondur
									</label>
								</div>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('role')} ? 'has-error' : ''">
								<label>Rol</label>
								<select class="form-control select2" id="role" name="role" style="width: 100%;" th:field="*{role.id}" >
									<option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.id}"></option>
								</select>
								<span class="help-block" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Hata</span>
							</div>
						</div>
						<div class="box-footer">
							<button type="button" id="cancelBtn" class="btn btn-default">İptal</button>
							<div class="btn-toolbar pull-right">
								<button type="submit" class="btn btn-primary pull-right">Değişiklikleri Kaydet</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		$(function() {
			// Return to user list when cancel button is clicked
			$('#cancelBtn').click(function() {
				window.location.href = /*[[@{'/sysuser/list'}]]*/'';
			});
			
			// Config checkbox
			$('input[type="checkbox"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue'
		    });
			
			// Config selectbox
			$('.select2').select2();
		});
	</script>
</body>
</html>
