<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<!--/*@thymesVar id="roles" type="java.util.List<tr.com.agem.lider.model.Role>"*/-->
<head>
	<title>Hizmet Ekle</title>
	<!-- iCheck -->
	<link th:href="@{/plugins/iCheck/all.css}" rel="stylesheet" />
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
	<!-- Select2 -->
	<link th:href="@{/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li><a th:href="@{/software/list}"><i class="fa fa-cubes"></i> Yazılım Envanteri</a></li>
		<li class="active">Hizmet Ekle</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Hizmet Ekle</h3>
					</div>
					<form role="form" id="processForm" th:action="@{/process/create}" method="post" th:object="${form}">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    						<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
						</div>
						<div class="box-body">
							<div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''">
								<label for="name">Ad</label>
								<input type="text" class="form-control" id="name"
									name="name" placeholder="Ad" th:field="*{name}" />
								<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
							</div>
						</div>
						<div class="box-footer">
							<button type="button" id="cancelBtn" class="btn btn-default">İptal</button>
							<div class="btn-toolbar pull-right">
								<button type="submit" class="btn btn-primary pull-right">Kaydet</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		$(function() {
			// Return to list when cancel button is clicked
			$('#cancelBtn').click(function() {
				window.location.href = /*[[@{'/software/list'}]]*/'';
			});
		});
	</script>
</body>
</html>
