<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<!--/*@thymesVar id="roles" type="java.util.List<tr.com.agem.lider.model.Role>"*/-->
<head>
	<title>Göç Takip Merkezi</title>
	<!-- iCheck -->
	<link th:href="@{/plugins/iCheck/all.css}" rel="stylesheet" />
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
	<!-- Select2 -->
	<link th:href="@{/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
	<link th:href="@{/monitor/main}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Göç Takip Merkezi</li>
	</th:block>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#current-state" aria-controls="current-state" role="tab" data-toggle="tab">Mevcut Durum</a></li>
					<li role="presentation"><a href="#monthly-migration" aria-controls="monthly-migration" role="tab" data-toggle="tab">Göç Durumu</a></li>
					<li role="presentation"><a href="#monthly-problem" aria-controls="monthly-problem" role="tab" data-toggle="tab">Sorun İzleme</a></li>
					<li role="presentation"><a href="#plan" aria-controls="plan" role="tab" data-toggle="tab">Göç Planlama</a></li>
			  	</ul>
			
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="current-state">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Mevcut Durum</h3>
							</div>
							<div class="box-body" style="height: 300px">
								<div style="position: absolute; top: 80px; width: 200px; 
									height: 150px; text-align: center; padding: 10px; 
									background-color: rgba(54, 162, 235, 0.5); font-size: 600%;
									border-radius: 10px;
									border: 2px solid rgba(54, 162, 235)">
									84
									<br>
									<small style="font-size: 11px; position: relative; top: -95px">Linux Sistem</small>
								</div>
								<div style="position: absolute; top: 80px; left: 220px; width: 200px; 
									height: 150px; text-align: center; padding: 10px; 
									background-color: rgba(255, 99, 132, 0.5); font-size: 600%;
									border-radius: 10px;
									border: 2px solid rgba(255, 99, 132)">
									238
									<br>
									<small style="font-size: 11px; position: relative; top: -95px">Windows Sistem</small>
								</div>
							</div>
						</div>					
					</div>
					<div role="tabpanel" class="tab-pane" id="monthly-migration">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Göç Durumu</h3>
							</div>
							<div class="box-body">
								<div id="container" style="width: 75%">
									<canvas id="monthly-migration-canvas"></canvas>
								</div>
								<div id="container" style="width: 75%">
									<canvas id="monthly-migration-canvas2"></canvas>
								</div>
							</div>
						</div>					
					</div>
					<div role="tabpanel" class="tab-pane" id="monthly-problem">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Sorun İzleme</h3>
							</div>
							<div class="box-body">
								<div id="container" style="width: 75%">
									<canvas id="monthly-problem-canvas"></canvas>
								</div>
							</div>
						</div>					
					</div>
					<div role="tabpanel" class="tab-pane" id="plan">
						<div class="box">
							<div class="box-header">
								<h3 class="box-title">Göç Planlama</h3>
							</div>
							<div class="box-body">
								<table id="planTable" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Eitket</th>
											<th>Planlanan Tarih</th>
											<th>İşlem</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>								
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<!-- Process Selection Modal -->
		<div layout:insert="layouts/default-modal :: modal(modalId='processSelectModal', modalHeader='Süreç Başlat', modalButton='Başlat')"
			th:remove="tag">
			<div layout:fragment="modal-content" class="form-group">
				<select class="form-control" id="bpmProcess" name="bpmProcess" style="width: 100%;">
					<option th:each="process : ${processes}" th:text="${process.name + ' [' + process.version + ']'}" th:value="${process.id}"></option>
				</select>
			</div>
		</div>			
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
	var startProcess = function(id) {
		$("#processSelectModalBtn").on("click", function(){
			$('#processSelectModal').modal('hide');
			window.location.href = "/alfa/bpm-task/startForm/" + $("#bpmProcess").val() + "?relatedComponent=Sorun&relatedComponentId="+id + "&redirect=hardware%2Flist";
		});
		
		$('#processSelectModal').modal('show');
	};
	$(document).ready( function () {
		var color = Chart.helpers.color;
		var MONTHS = [];
		var now = new Date(); 
		for (var i=0; i<10; i++) {
			var date = new Date(now.getFullYear(), now.getMonth()-10+i, 1);
			var m = date.getMonth()+1;
			if (m < 10) {
				m = "0"+m;
			}
			MONTHS.push(date.getFullYear()+"-"+m);
		}
		for (var i=0; i<14; i++) {
			var date = new Date(now.getFullYear(), now.getMonth()+i, 1);
			var m = date.getMonth()+1;
			if (m < 10) {
				m = "0"+m;
			}
			MONTHS.push(date.getFullYear()+"-"+m);
		}
		console.log(MONTHS)
		var gocmeyenler = [
			322,
			322*.97,
			322*.95,
			322*.95,
			322*.95,
			322*.90,
			322*.90,
			322*.90,
			322*.80,
			322*.74,
			322*.74,
			322*.70,
			322*.61,
			322*.61,
			322*.55,
			322*.55,
			322*.40,
			322*.40,
			322*.40,
			322*.20,
			322*.10,
			322*.05,
			322*.02,
			322*.0
		];
		
		var planlanan = [
			0,
			10,
			15,
			15,
			15,
			30,
			40,
			60,
			80,
			100,
			120,
			150,
			180,
			210,
			235,
			250,
			265,
			275,
			285,
			295,
			305,
			315,
			320,
			322
		];
		var gocenler = [];
		for (var i=0;i<gocmeyenler.length;i++) {
			gocmeyenler[i] = parseInt(gocmeyenler[i]); 
			gocenler[i] = 322-gocmeyenler[i];
			if (i > 10) {
				gocenler[i] = planlanan[i];
				gocmeyenler[i]  = 322-planlanan[i];
				gocenler[i] = 0;
			} 
		}
		console.log("RED:"+color(window.chartColors.red).alpha(0.5).rgbString());
		var barChartData = {
			labels: MONTHS,
			datasets: [
				{
					label: 'Başarılı Göç Yapılmış Sistemler',
					backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					borderColor: window.chartColors.blue,
					borderWidth: 1,
					data: gocenler
				}, {
					label: 'Planlanan Göç Yapılan/Yapılacak Sistemler',
					backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
					borderColor: window.chartColors.yellow,
					borderWidth: 1,
					data: planlanan
				}
			]
	
		};
		
		var ctx = document.getElementById('monthly-migration-canvas').getContext('2d');
		var g1 = new Chart(ctx, {
			type: 'bar',
			data: barChartData,
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Aylık Başarılı Göç Yapılan Sistemler (Kümülatif)'
				}
			}
		});
		
		var yeni_problem = [
			2,
			1,
			3,
			4,
			8,
			7,
			7,
			9,
			10,
			6,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0
		]; 
		var cozulen_problem = [
			0,
			0,
			0,
			0,
			10,
			5,
			9,
			14,
			9,
			2,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0,
			0
		];
		var devam_eden_problem = [];
		var p = 0; 
		for (i=0;i<cozulen_problem.length;i++) {
			p+= yeni_problem[i] - cozulen_problem[i];
			devam_eden_problem.push(p);
		}
		var color = Chart.helpers.color;
		var barChartData = {
			labels: MONTHS,
			datasets: [{
				label: 'Devam Eden Problemler',
				backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
				borderColor: window.chartColors.yellow, 
				borderWidth: 1,
				data: devam_eden_problem
			}, {
				label: 'Yeni Problemler',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: yeni_problem
			}, {
				label: 'Çözülen Problemler',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue, 
				borderWidth: 1,
				data: cozulen_problem
			}]
	
		};
		
		var ctx = document.getElementById('monthly-problem-canvas').getContext('2d');
		var g2 = new Chart(ctx, {
			type: 'bar',
			data: barChartData,
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Aylık Göç Problemleri Durumu'
				}
			}
		});
		
		
		
		var prev1 = 0;
		var prev2 = 0;
		var gocenler_x = [];
		var planlanan_x = [];
		for (var i=0;i<gocmeyenler.length;i++) {
			if (gocenler[i] == 0) {
				gocenler_x.push(0);
			}
			else {
				gocenler_x.push(gocenler[i] - prev1);
			}
			prev1 = gocenler[i]; 
			planlanan_x.push(planlanan[i] - prev2);
			prev2 = planlanan[i];
		}
		
		var barChartData = {
			labels: MONTHS,
			datasets: [
				{
					label: 'Başarılı Göç Yapılmış Sistemler',
					backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					borderColor: window.chartColors.blue,
					borderWidth: 1,
					data: gocenler_x
				}, {
					label: 'Planlanan Göç Yapılan/Yapılacak Sistemler',
					backgroundColor: color(window.chartColors.yellow).alpha(0.5).rgbString(),
					borderColor: window.chartColors.yellow,
					borderWidth: 1,
					data: planlanan_x
				}
			]
	
		};
		
		var ctx = document.getElementById('monthly-migration-canvas2').getContext('2d');
		var g1_1 = new Chart(ctx, {
			type: 'bar',
			data: barChartData,
			options: {
				responsive: true,
				legend: {
					position: 'top',
				},
				title: {
					display: true,
					text: 'Aylık Başarılı Göç Yapılan Sistemler'
				}
			}
		});
		
		
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			var fnDateInput = function(row) {
				var v = row["plannedMigrationDate"] ? moment(row["plannedMigrationDate"], "DD-MM-YYYY hh:mm:ss").format('DD.MM.YYYY') : null;
				var html = '<div class="input-group date">' +
						   '<div class="input-group-addon">' + 
						   '<i class="fa fa-calendar"></i>' +
						   '</div>'+
				 		   '<input type="text" tag-id="'+row["id"] +'" class="form-control pull-right datepicker" ' + (v != null ? 'value="' + v + '"' : '') + ' />' +
						   '</div>';
									   
				return html;
			}
			var fnDateInput2 = function(row) {
				var html = "<div class=\"btn-group\" role=\"group\">" 
							+ "<button class=\"btn btn-outline-dark\" onclick=\"startProcess("+ row['id']+")\"><i class=\"fa fa-play\"></i> Süreç Başlat</button>"				
							+ "</div>";						   
				return html;
			}
			var drawCallback = function(settings) {
				$("#planTable .datepicker").datepicker({
					todayHighlight: true,
					autoclose: true,
					language: 'tr'
				});
				$("#planTable .input-group").each( function () {
					$(this).parent().css("padding", "2px");
				});
				if ($("#savePlanBtn").length == 0) {
					$("#planTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"savePlanBtn\">Kaydet</button>");
					
					$("#savePlanBtn").on("click", function() {
						var d = [];
						$("#planTable [tag-id]").each(function() {
							var tag = {};
							tag["id"] = $(this).attr("tag-id");
							tag["plannedMigrationDate"] = $(this).val();;
							d.push(tag);
						});
						console.log(d);
						Alfa.ajax({url: "/alfa/plan/save", data: {"tags": d}}, 
							function(result){
								alertify.success("Plan başarıyla kaydedildi.");
							}, 
							function() {
								alertify.error("Plan kaydedilirken hata oluştu.");
							}
						);
					});
				}
			};
			const colsTag = [
				{"data": "name", "searchable": true, "orderable": false }, 
				{"data": fnDateInput, "searchable": false, "orderable": false },
				{"data": fnDateInput2, "searchable": false, "orderable": false }
			];
			var order = [ [0, 'desc'] ];
			if ($(e.target).attr('href') == "#plan") {
				var table = $('#planTable').paginatedTable("/alfa/plan/list-paginated", "tags", colsTag, drawCallback, order);
			}
		});

	});

	</script>
</body>
</html>
