<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Anket Ekle</title>
	<!-- iCheck -->
	<link th:href="@{/plugins/iCheck/all.css}" rel="stylesheet" />
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li><a th:href="@{/survey/list}"><i class="fa fa-clipboard"></i> Anket Listesi</a></li>
		<li class="active">Anket Ekle</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Anket Ekle</h3>
					</div>
					<form role="form" id="surveyForm" th:action="@{/survey/create}" method="post" th:object="${form}">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    						<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
						</div>
						<input type="text" style="display: none;" id="surveyJson" name="surveyJson" />
						<div class="box-body">
							<div class="form-group" th:classappend="${#fields.hasErrors('label')} ? 'has-error' : ''">
								<label for="label">Tanım</label>
								<input type="text" class="form-control" id="label"
									name="label" placeholder="Tanım" th:field="*{label}" />
								<span class="help-block" th:if="${#fields.hasErrors('label')}" th:errors="*{label}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
								<label for="description">Açıklama</label>
								<input type="text" class="form-control" id="description" name="description"
									placeholder="Açıklama" th:field="*{description}" />
								<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Hata</span>
							</div>
							<div class="form-group">
								<div class="checkbox">
									<label style="padding-left:0px;"> <input type="checkbox" class="minimal"
										id="auto-survey-creation"> Yazılım ve çevresel birimlerden otomatik anket hazırla.
									</label>
								</div>
							</div>
							<div class="form-group" id="surveyContainer">
								<div id="editorElement"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		var editor = null;	
	
		$("#auto-survey-creation").on("ifChecked", function(event) {
			Alfa.ajax({url: '/alfa/survey/list-surveyable'}, function(result){
				console.log(JSON.stringify(result));
				if (!result || !result.data) return;
				var elements = [];
				if (result.data.packages) {
					for(var i = 0; i < result.data.packages.length; i++) {
						var item = result.data.packages[i];
						elements.push({
							type: "radiogroup",
							name: "packagequestion" + i,
							title: item.name + " adlı yazılımın eğitimini aldınız mı?",
							choices: [
								{
									value: "item1",
									text: "Evet"
								},
								{
									value: "item2",
									text: "Hayır"
								}
							]
					    });
					}
				}
				if (result.data.peripherals) {
					for(var i = 0; i < result.data.peripherals.length; i++) {
						var item = result.data.peripherals[i];
						elements.push({
							type: "radiogroup",
							name: "peripheralsquestion" + i,
							title: item.tag + " adlı çevresel birimi kullanıyor musunuz?",
							choices: [
								{
									value: "item1",
									text: "Evet"
								},
								{
									value: "item2",
									text: "Hayır"
								}
							]
					    });
					}
				}
				if (elements.length > 0) {
					elements.push({
					    type: "text",
					    name: "name",
					    title: "Lütfen adınızı giriniz",
					    isRequired: true,
					    placeHolder: "Ad soyad"
				    });
					elements.push({
					    type: "text",
					    name: "email",
					    title: "E-posta adresiniz:",
					    isRequired: true,
					    validators: [
					    	{ type: "email" }
					    ],
					    inputType: "email",
					    placeHolder: "ad.soyad@alfa.org"
				    });
					var data = {
						pages: [
							{
								name: "page1",
								elements: elements
							}
						]
					};
					if (editor) {
						editor.text = JSON.stringify(data);
						$("#label").val("yazılım ve çevresel birim kullanımı anketi");
						$("#description").val("Yazılım eğitimi ve çevresel birim kullanımına dair anket");
					}
				}
			});
		});
	
		$(function() {
			SurveyEditor.editorLocalization.currentLocale = "tr";
			SurveyEditor.StylesManager.applyTheme("bootstrap");
			editor = new SurveyEditor.SurveyEditor("editorElement", {
				questionTypes: ["text", "checkbox", "radiogroup", "dropdown", "rating"],
				showJSONEditorTabValue: false,
				showPagesToolbox: false,
				showTestSurveyTabValue: false,
				showPropertyGrid: false,
				isAutoSave: false,
			});
			editor.saveSurveyFunc = function (saveNo, callback) {
				if (!editor || !editor.text) {
					alertify.error('Lütfen kaydetmek için bir anket oluşturun.');
					return;
				}
				$("#surveyJson").val(editor.text);
				$("#surveyForm").submit();
			};
			$(".svd_commercial_container").remove();
			// Config checkbox
			$('input[type="checkbox"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue'
		    });
		});
	</script>
</body>
</html>