<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Anket Listesi</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Anket Listesi</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Anket Listesi</h3>
					</div>
					<div class="box-body">
						<table id="surveyTable" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Tanım</th>
									<th>Açıklama</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Send-survey modal -->
		<div
			layout:insert="layouts/default-modal :: modal(modalId='sendSurveyModal', modalHeader='Anket gönder', modalButton='Gönder')"
			th:remove="tag">
			<div layout:fragment="modal-content">
				<form role="form" id="sendSurveyForm">
					<div class="form-group">
						<label>Anketin gönderileceği ajanlar:</label>
						<select class="form-control select2" multiple id="agents" name="agents" style="width: 100%;">
							<option th:each="agent : ${agents}" th:text="${agent.hostName + ' - ' + agent.ipAddresses}" th:value="${agent.messagingId}"></option>
						</select>
					</div>
				</form>
			</div>
		</div>
		
		<!-- Send-survey modal -->
		<div
			layout:insert="layouts/info-modal :: modal(modalId='surveyResultModal', modalHeader='Anket sonucu', modalButton='Kapat')"
			th:remove="tag">
			<div layout:fragment="modal-content">
				<form role="form" id="sendSurveyForm">
					<div class="form-group">
						<label>Anket sonucunun gösterileceği ajan:</label>
						<select class="form-control" id="agents_result" name="agents_result" style="width: 100%;">
							<option th:each="agent : ${agents}" th:text="${agent.hostName + ' - ' + agent.ipAddresses}" th:value="${agent.messagingId}"></option>
						</select>
						<div id="surveyElement"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		// Hook handler for sending survey
		var handleSend = function(surveyId) {
			$("#sendSurveyModalBtn").one("click", function(){
				$('#sendSurveyModal').modal('hide');
				for (var i=0; i < $("#agents").val().length; i++) {
					var messagingId = $("#agents").val()[i];
					alertify.message("Anket " + $("option[value='" + messagingId + "']", "#agents").text() + " adlı ajana gönderiliyor.");
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : "/alfa/survey/" + surveyId + "/send/" + messagingId,
						dataType : 'json',
						cache : false,
						timeout : 600000,
						beforeSend: function(xhr) {
							var token = $('#_csrf').attr('content');
							var header = $('#_csrf_header').attr('content');
							xhr.setRequestHeader(header, token);
						},
						success : function(result) {
							alertify.success('Anket gönderildi.');
						}
					});
				}
			});
			$('#sendSurveyModal').modal('show');
		};
		
		// Hook handler for displaying survey result if there is any
		var handleResult = function(surveyId) {
			SurveyEditor.editorLocalization.currentLocale = "tr";
			SurveyEditor.StylesManager.applyTheme("bootstrap");
			$("#agents_result").one("change", function(){
				var messagingId = $("#agents_result").val();
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : "/alfa/survey/" + surveyId + "/result/" + messagingId,
					dataType : 'json',
					cache : false,
					timeout : 600000,
					beforeSend: function(xhr) {
						var token = $('#_csrf').attr('content');
						var header = $('#_csrf_header').attr('content');
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						if (!result || !result.data || !result.data["result"]) {
							alertify.warning("Seçili ajana dair anket sonucu bulunamadı.");
							return;
						}
						alertify.success('Anket sonucu okundu.');
						window.survey = new Survey.Model(JSON.parse(result.data["survey"]));
						survey.locale = 'tr';
						survey.data = JSON.parse(JSON.parse(result.data["result"]));
						survey.mode = 'display';
						$("#surveyElement").Survey({model: survey});
					}
				});
			});
			$('#surveyResultModal').modal('show');
		};
	
		$(function() {
			var fnActionBtns = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
					+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/survey/" + row["id"] + "\"><i class=\"fa fa-edit\"></i></a>"
					+ "<button class=\"btn btn-outline-secondary\" onclick=\"handleSend(" + row['id'] + ")\"><i class=\"fa fa-paper-plane\"></i></button>" 
					+ "<button class=\"btn btn-outline-info\" onclick=\"handleResult(" + row['id'] + ")\"><i class=\"fa fa-clipboard\"></i></button>" 
					+ "</div>";
			};
			
			var drawCallback = function(settings) {
				if ($("#newSurveyBtn").length == 0) {
					$("#surveyTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newSurveyBtn\">Yeni</button>");
					$("#newSurveyBtn").one("click", function() {
						window.location.href = '/alfa/survey/create';
					});
				}
			};
			
			const cols = [
				{"data": "label", "searchable": true, "orderable": true }, 
				{"data": "description", "searchable": true, "orderable": true }, 
				{"data": fnActionBtns, "searchable": false, "orderable": false }
			];
			
			$('#surveyTable').paginatedTable("/alfa/survey/list-paginated", "surveys", cols, drawCallback);
		});
	</script>
</body>
</html>
