<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Sistem Envanteri</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Sistem Envanteri</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Ajan kurulu sistem listesi</h3>
					</div>
					<div class="box-body">
						<table id="agentTable" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>
										<label class="checkbox checkbox-inline">
											<input type="checkbox" name="select_all" value="1" id="select-all">
										</label>
									</th>
									<th>Hostname</th>
									<th>IP Adresleri</th>
									<th>MAC Adresleri</th>
									<th>İşletim Sistemi</th>
									<th>Son Kurulum Tarihi</th>
									<th>Etiketler</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>					
			</div>
		</div>
		
		<!-- Agent details modal -->
		<div
			layout:insert="layouts/info-modal :: modal(modalId='agentDetailModal', modalHeader='Agent Details', modalButton='Kapat')"
			th:remove="tag">
			<div class="nav-tabs-custom" layout:fragment="modal-content">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab_1" data-toggle="tab">Genel</a></li>
              		<li><a href="#tab_2" data-toggle="tab">Yazılımlar</a></li>
              		<li><a href="#tab_3" data-toggle="tab">Kullanıcılar</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_1">
						<dl class="dl-horizontal">
							<dt>Hostname</dt>
							<dd id="agentHostname"></dd>
							<dd id="agentOnline"></dd>
							<dt>MAC adresi</dt>
							<dd id="agentMacAddresses"></dd>
							<dt>IP adresi</dt>
							<dd id="agentIpAddresses"></dd>
							<dt>Türü</dt>
							<dd id="agentType"></dd>
							<dt>Son kurulum</dt>
							<dd id="agentLastInstallationDate"></dd>
						</dl>
					</div>
					<div class="tab-pane" id="tab_2">
						<table id="agentPackagesTable" class="table table-bordered table-striped" style="width: 100%;">
							<thead>
								<tr>
									<th>Paket adı</th>
									<th>Sürüm</th>
								</tr>
							</thead>
							<tbody id="agentPackagesTableBody"></tbody>
						</table>
					</div>
					<div class="tab-pane" id="tab_3">
						<table id="agentUsersTable" class="table table-bordered table-striped" style="width: 100%;">
							<thead>
								<tr>
									<th>Kullanıcı adı</th>
								</tr>
							</thead>
							<tbody id="agentUsersTableBody"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Etiket düzenleme -->
		<div
			layout:insert="layouts/default-modal :: modal(modalId='editTagsModal', modalHeader='Etiket düzenleme', modalButton='Değişiklikleri Kaydet')"
			th:remove="tag">
			<div layout:fragment="modal-content">
				<form>
					<div class="form-group">
						<label>Etiket bulutu:</label>
						<select class="form-control" multiple id="tags" name="tags" style="width: 100%;">
							<option th:each="tag : ${tags}" th:text="${tag.name}" th:value="${tag.id + '-' + tag.name}"></option>
						</select>
						<span class="help-block">Birden fazla etiket seçebilir veya yeni etiket ekleyebilirsiniz.</span>
					</div>
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control" id="new-tag" name="new-tag"
								placeholder="Yeni etiket" />
							<div class="input-group-append">
								<button type="button" class="btn" onclick="return handleTagAdd();"><i class="fa fa-plus"></i></button>
							</div>						
						</div>
					</div>
				</form>
			</div>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		var dateFormat = /*[[${applicationDateFormat}]]*/ 'dd/mm/yyyy';
		var agentPackagesTable = null;
		var agentUsersTable = null;
		var lastAgentId = null;
		
		var handleTagsModal = function(agentId, tags) {
			lastAgentId = agentId;
			$("option:selected", "#tags").removeAttr("selected");
			$("#tags").val(tags);
			$('#editTagsModal').modal('show');
		};
		
		var handleTagAdd = function() {
			var newTag = $("#new-tag").val();
			$("#tags").append($('<option>', {
				value: "-" + newTag,
				text: newTag,
				selected: "selected"
			}));
			$("#new-tag").val("");
		};
		
	   $('#select-all').on('click', function(){
	      // Get all rows with search applied
	      var rows = agentTable.rows({ 'search': 'applied' }).nodes();
	      // Check/uncheck checkboxes for all rows in the table
	      $('input[type="checkbox"]', rows).prop('checked', this.checked);
	   });
	
		var handleDetailsModal = function(agentId) {
			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "/alfa/agent/" + agentId + "/online",
				dataType : 'json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result && result.data && result.data) {
						$("#agentOnline").html(result.data['online-status'] ? "<i class=\"fa fa-circle text-success\"></i> Çevrimiçi" 
								: "<i class=\"fa fa-circle text-error\"></i> Çevrimdışı");
					}
				}
			});
			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "/alfa/agent/" + agentId + "/detail",
				dataType : 'json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (result && result.data && result.data.agent) {
						// General
						$("#agentHostname").html(result.data.agent['hostName']);
						$("#agentMacAddresses").html(result.data.agent['macAddresses']);
						$("#agentIpAddresses").html(result.data.agent['ipAddresses']);
						$("#agentType").html(result.data['agent-type']);
						$("#agentLastInstallationDate").html(result.data.agent['lastInstallationDate']);
						
						// Packages
						if (agentPackagesTable) {
							agentPackagesTable.clear().draw();
						}
						if (result.data.agent.installedPackages) {
							if (!agentPackagesTable) {
								agentPackagesTable = $('#agentPackagesTable').DataTable({
									"language": {
									    "sDecimal":        ",",
									    "sEmptyTable":     "Tabloda herhangi bir veri mevcut değil",
									    "sInfo":           "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
									    "sInfoEmpty":      "Kayıt yok",
									    "sInfoFiltered":   "(_MAX_ kayıt içerisinden bulunan)",
									    "sInfoPostFix":    "",
									    "sInfoThousands":  ".",
									    "sLengthMenu":     "Sayfada _MENU_ kayıt göster",
									    "sLoadingRecords": "Yükleniyor...",
									    "sProcessing":     "İşleniyor...",
									    "sSearch":         "Ara:",
									    "sZeroRecords":    "Eşleşen kayıt bulunamadı",
									    "oPaginate": {
									        "sFirst":    "İlk",
									        "sLast":     "Son",
									        "sNext":     "Sonraki",
									        "sPrevious": "Önceki"
									    },
									    "oAria": {
									        "sSortAscending":  ": artan sütun sıralamasını aktifleştir",
									        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
									    }
									},
								});
							}
							for (var index in result.data.agent['installedPackages']) {
								var prop = result.data.agent['installedPackages'][index];
								agentPackagesTable.row.add($('<tr><td>' + prop['name'] + '</td><td>' + prop['version'] + '</td></tr>'));
							}
							agentPackagesTable.draw();
						}
						
						// Users
						if (agentUsersTable) {
							agentUsersTable.clear().draw();
						}
						if (result.data.agent.users) {
							if (!agentUsersTable) {
								agentUsersTable = $('#agentUsersTable').DataTable({
									"language": {
									    "sDecimal":        ",",
									    "sEmptyTable":     "Tabloda herhangi bir veri mevcut değil",
									    "sInfo":           "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
									    "sInfoEmpty":      "Kayıt yok",
									    "sInfoFiltered":   "(_MAX_ kayıt içerisinden bulunan)",
									    "sInfoPostFix":    "",
									    "sInfoThousands":  ".",
									    "sLengthMenu":     "Sayfada _MENU_ kayıt göster",
									    "sLoadingRecords": "Yükleniyor...",
									    "sProcessing":     "İşleniyor...",
									    "sSearch":         "Ara:",
									    "sZeroRecords":    "Eşleşen kayıt bulunamadı",
									    "oPaginate": {
									        "sFirst":    "İlk",
									        "sLast":     "Son",
									        "sNext":     "Sonraki",
									        "sPrevious": "Önceki"
									    },
									    "oAria": {
									        "sSortAscending":  ": artan sütun sıralamasını aktifleştir",
									        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
									    }
									},
									"responsive": true,
								});
							}
							for (var index in result.data.agent['users']) {
								var prop = result.data.agent['users'][index];
								agentUsersTable.row.add($('<tr><td>' + prop['name'] + '</td></tr>'));
							}
							agentUsersTable.draw();
						}
						
						// Show modal
						$('#agentDetailModal').modal('show');
					}
				}
			});
		};
	
		$(function() {
			// Agent
			var fnActionBtnsAgent = function(row, type, val, meta) {
				var commaSepTags = "";
				if (row["tags"]) {
					for(var i = 0; i < row["tags"].length; i++) {
						if (commaSepTags.length > 0) {
							commaSepTags += ", ";
						}
						commaSepTags += "'" + row["tags"][i]["id"] + "-" + row["tags"][i]["name"] + "'";
					}
				}
				var buttons = "<div class=\"btn-group\" role=\"group\">";
				buttons += "<button class=\"btn btn-outline-primary\" onclick=\"return handleDetailsModal(" + row["id"] + ");\"><i class=\"fa fa-info\"></i> Detaylar</button>";
				buttons += "<button onclick=\"return handleTagsModal(" + row["id"] + ", [" + commaSepTags + "]);\" class=\"btn btn-outline-secondary\"><i class=\"fa fa-edit\"></i> Etiket düzenle</button>";
				buttons += "</div>";
				return buttons;
			};
			var fnCheckboxBtnsAgent = function(data, type, row) {
				var ch = "<label class=\"checkbox checkbox-inline\">";
				ch += "<input type=\"checkbox\" value=\"1\" rowid=\"" + row["id"] + "\">";
				ch += "</label>";
				return ch; 
			};
			var drawCallback = function(settings) {
				if ($("#assignTagBtn").length == 0) {
					$("#agentTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"assignTagBtn\">Seçilenlere etiket ata</button>");
					$("#assignTagBtn").off("click").on("click", function() {
						if ($('input[type="checkbox"][name!="select_all"]:checked').length < 1) {
							alertify.warning("Lütfen geçerli bir kayıt seçiniz.");
							return;
						}
						// Clear last agent ID so that multiple agent IDs can be used!
						lastAgentId = null;
						$("option:selected", "#tags").removeAttr("selected");
						$('#editTagsModal').modal('show');
					});
				}
			};
			const colsAgent = [
				{"searchable": false, "orderable": false, "render": fnCheckboxBtnsAgent },
				{"data": "hostName", "searchable": true, "orderable": true }, 
				{"data": "ipAddresses", "searchable": true, "orderable": true }, 
				{"data": function(row){  
					row["macAddressesStr"] = (row["macAddresses"].length > 40 ? row["macAddresses"].substring(0, 40) + "..." : row["macAddresses"]);
					return row["macAddressesStr"]; 
				}, "searchable": true, "orderable": true }, 
				{"data": "platform.system", "searchable": true, "orderable": true }, 
				{"data": "tagsStr", "searchable": true, "orderable": true }, 
				{"data": fnActionBtnsAgent, "searchable": false, "orderable": false }
			];
			var order = [ [1, 'desc'] ];
			agentTable = $('#agentTable').paginatedTable("/alfa/agent/list-paginated", "agents", colsAgent, drawCallback, order);
			
			$("#editTagsModalBtn").off("click").on("click", function(){
				var tagArr = [];
				for(var i = 0; i < $("#tags").val().length; i++) {
					var tag = $("#tags").val()[i];
					var tokens = tag.split("-");
					tagArr.push({ "id": tokens[0], "name": tokens[1] });
				}
				if (lastAgentId) {
					var d =  {"id": lastAgentId, "tags": tagArr};
					Alfa.ajax(
						{url: "/alfa/agent/tag/save", data: d}, 
						function(result){
							alertify.success("Etiketler başarıyla kaydedildi.");
							$('#editTagsModal').modal('hide');
							agentTable.ajax.reload();
						}, 
						function() {
							alertify.error("Etiketler kaydedilirken hata oluştu.");
						}
					);
				} else {
					$('input[type="checkbox"][name!="select_all"]:checked').each(function(){
						var d =  {"id": $(this).attr("rowid"), "tags": tagArr};
						Alfa.ajax(
							{url: "/alfa/agent/tag/save", data: d, async: false}, 
							function(result){
								alertify.success("Etiketler başarıyla kaydedildi.");
								$('#editTagsModal').modal('hide');
							}, 
							function() {
								alertify.error("Etiketler kaydedilirken hata oluştu.");
							}
						);
					});
					agentTable.ajax.reload();
				}
			});
		});
	</script>
</body>
</html>
