<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <!-- Main Header -->
  <header class="main-header">
    <!-- Logo -->
    <a th:href="@{/home}" class="logo">
    	<b>Alfa</b><small>GYBS</small>
      	<span><img src="/alfa/img/logo.png" style="width: 16%; height: auto; margin-left:10px;" alt="Alfa"></img></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">0</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header"></li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                  </li>
                </ul>
              </li>
              <li class="footer">
                <a href="/alfa/bpm-task/list-all">Bütün Görevler</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs"><th:block th:text="${currentUser?.username}"></th:block></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header" style="height:auto;">
                <p>
                  <th:block th:text="${currentUser?.username}"></th:block>
                  <small>Role: <th:block th:text="${currentUser?.role}"></th:block></small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <form th:action="@{/logout}" method="POST"> <input type="submit" class="btn btn-default btn-flat" value="Çıkış" /> </form>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</body>
</html>