<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" th:fragment="menu">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li><a th:href="@{/home}"><i class="fa fa-dashboard"></i> <span>Yönetim Paneli</span></a></li>
        <li><a th:href="@{/report/list}"><i class="fa fa-pie-chart"></i> <span>Uyumluluk Analizi</span></a></li>
        <li><a th:href="@{/agent/list}"><i class="fa fa-desktop"></i> <span>Bilgisayar Envanteri</span></a></li>
        <li><a th:href="@{/software/list}"><i class="fa fa-cubes"></i> <span>Yazılım Envanteri</span></a></li>
        <li><a th:href="@{/hardware/list}"><i class="fa fa-microchip"></i> <span>Donanım Envanteri</span></a></li>
        <li><a th:href="@{/peripheral/list}"><i class="fa fa-print"></i> <span>Çevresel Birimler</span></a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/ldap/integration/list}"><i class="fa fa-users"></i> <span>Organizasyon</span></a></li>
        <li><a th:href="@{/training/list}"><i class="fa fa-book"></i> <span>Eğitimler</span></a></li>
		<li><a th:href="@{/survey/list}"><i class="fa fa-clipboard"></i>Anketler</a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/sysuser/list}"><i class="fa fa-user-circle"></i> <span>Sistem Kullanıcıları</span></a></li>
        <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/bpm-process/list}"><i class="fa fa-circle-o"></i> Süreçler </a></li>
        <li><a th:href="@{/help}"><i class="fa fa-question"></i> <span>Yardım</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</body>
</html>