<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Eğitim Bilgisi Düzenle</title>
	<!-- iCheck -->
	<link th:href="@{/plugins/iCheck/all.css}" rel="stylesheet" />
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
	<!-- Select2 -->
	<link th:href="@{/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li><a th:href="@{/education/list}"><i class="fa fa-clipboard"></i> Eğitim Listesi</a></li>
		<li class="active">Eğitim Bilgisi Düzenle</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box box-info">
					<div class="box-header">
						<h3 class="box-title">Eğitim Bilgisi Düzenle</h3>
					</div>
					<form role="form" id="educationForm" th:action="@{'/education/' + ${form.id}}" method="post" th:object="${form}">
						<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
    						<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
						</div>
						<div class="box-body">
							<div class="form-group" th:classappend="${#fields.hasErrors('label')} ? 'has-error' : ''">
								<label for="label">Tanım</label>
								<input type="text" class="form-control" id="label"
									name="label" placeholder="Tanım" th:field="*{label}" />
								<span class="help-block" th:if="${#fields.hasErrors('label')}" th:errors="*{label}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
								<label for="description">Açıklama</label>
								<input type="text" class="form-control" id="description" name="description"
									placeholder="Açıklama" th:field="*{description}" />
								<span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Hata</span>
							</div>
							<div class="form-group" th:classappend="${#fields.hasErrors('url')} ? 'has-error' : ''">
								<label for="url">Bağlantı URLi</label>
								<input type="text" class="form-control" id="firstName"
									name="url" placeholder="Bağlantı URLi" th:field="*{url}" />
								<span class="help-block" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Hata</span>
							</div>
						</div>
						<div class="box-footer">
							<button type="button" id="cancelBtn" class="btn btn-default">İptal</button>
							<div class="btn-toolbar pull-right">
								<button type="submit" class="btn btn-primary pull-right">Değişiklikleri Kaydet</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		$(function() {
			// Return to user list when cancel button is clicked
			$('#cancelBtn').one("click", function() {
				window.location.href = '/alfa/education/list';
			});
		});
	</script>
</body>
</html>
