<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Eğitim Listesi</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Eğitim Listesi</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Eğitim Listesi</h3>
					</div>
					<div class="box-body">
						<table id="educationTable" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Tanım</th>
									<th>Açıklama</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Education-users info modal -->
		<div
			layout:insert="layouts/info-modal :: modal(modalId='usersInfoModal', modalHeader='Eğitimi alan kullanıcılar', modalButton='Kapat')"
			th:remove="tag">
			<div layout:fragment="modal-content">
				<table id="usersTable" class="table table-bordered table-striped" style="width: 100%;">
					<thead>
						<tr>
							<th>Kullanıcı ID</th>
							<th>Ad Soyad</th>
							<th>Durum</th>
							<th>Süre</th>
							<th>Sınav Puanı</th>
						</tr>
					</thead>
					<tbody id="usersTableBody"></tbody>
				</table>
			</div>
		</div>
		
		<!-- Send-education URL modal -->
		<div
			layout:insert="layouts/default-modal :: modal(modalId='sendUrlModal', modalHeader='Eğitim bağlantısı paylaş', modalButton='Paylaş')"
			th:remove="tag">
			<div layout:fragment="modal-content">
				<form role="form" id="sendUrlForm">
					<div class="form-group">
						<label>Eğitimin paylaşılacağı ajanlar:</label>
						<select class="form-control" multiple id="agents" name="agents" style="width: 100%;">
							<option th:each="agent : ${agents}" th:text="${agent.hostName + ' - ' + agent.ipAddresses}" th:value="${agent.messagingId}"></option>
						</select>
					</div>
				</form>
			</div>
		</div>
		
		<!-- Delete confirmation modal -->
		<div
			layout:insert="layouts/default-modal :: modal(modalId='deleteConfirmModal', modalHeader='Kayıt silinecek?', modalButton='Devam')"
			th:remove="tag">
			<p layout:fragment="modal-content">Seçili kayıt silinmek üzere. Devam etmek istiyor musunuz?</p>
		</div>
		
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		var usersTable = null;
	
		// Hook handler for sending URL
		var handleSend = function(educationId) {
			$("#sendUrlModalBtn").on("click", function(){
				$('#sendUrlModal').modal('hide');
				for (var i=0; i < $("#agents").val().length; i++) {
					var messagingId = $("#agents").val()[i];
					alertify.message("Eğitim bağlantısı " + $("option[value='" + messagingId + "']", "#agents").text() + " adlı ajanla paylaşılıyor.");
					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : "/alfa/education/" + educationId + "/send/" + messagingId,
						dataType : 'json',
						cache : false,
						timeout : 600000,
						beforeSend: function(xhr) {
							var token = $('#_csrf').attr('content');
							var header = $('#_csrf_header').attr('content');
							xhr.setRequestHeader(header, token);
						},
						success : function(result) {
							alertify.success('Eğitim bağlantısı paylaşıldı.');
						}
					});
				}
			});
			$('#sendUrlModal').modal('show');
		};
		
		var _table = null;
		var handleDelete = function(url) {
			$("#deleteConfirmModalBtn").on("click", function(){
				$('#deleteConfirmModal').modal('hide');
				$.ajax({
					type : "POST",
					contentType : "application/json",
					url : url,
					dataType : 'json',
					cache : false,
					timeout : 600000,
					beforeSend: function(xhr) {
						var token = $('#_csrf').attr('content');
						var header = $('#_csrf_header').attr('content');
						xhr.setRequestHeader(header, token);
					},
					success : function(result) {
						alertify.success('Kayıt silindi.');
						if (_table) _table.ajax.reload();
					}
				});
			});
			$('#deleteConfirmModal').modal('show');
		};
		
		var handleUsers = function(educationId) {
			$.ajax({
				type : "GET",
				contentType : "application/json",
				url : "/alfa/education/" + educationId + "/users/",
				dataType : 'json',
				cache : false,
				timeout : 600000,
				success : function(result) {
					if (usersTable) {
						usersTable.clear().draw();
					}
					if (result.data.users) {
						if (!usersTable) {
							usersTable = $("#usersTable").DataTable({
								"language": {
								    "sDecimal":        ",",
								    "sEmptyTable":     "Tabloda herhangi bir veri mevcut değil",
								    "sInfo":           "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
								    "sInfoEmpty":      "Kayıt yok",
								    "sInfoFiltered":   "(_MAX_ kayıt içerisinden bulunan)",
								    "sInfoPostFix":    "",
								    "sInfoThousands":  ".",
								    "sLengthMenu":     "Sayfada _MENU_ kayıt göster",
								    "sLoadingRecords": "Yükleniyor...",
								    "sProcessing":     "İşleniyor...",
								    "sSearch":         "Ara:",
								    "sZeroRecords":    "Eşleşen kayıt bulunamadı",
								    "oPaginate": {
								        "sFirst":    "İlk",
								        "sLast":     "Son",
								        "sNext":     "Sonraki",
								        "sPrevious": "Önceki"
								    },
								    "oAria": {
								        "sSortAscending":  ": artan sütun sıralamasını aktifleştir",
								        "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
								    }
								}
							});
						}
						for (var index in result.data.users) {
							var prop = result.data.users[index];
							usersTable.row.add(
									$('<tr><td>' + prop['ldapUser']['userIdentifier'] + '</td><td>' + prop['ldapUser']['name'] + '</td><td>'
									+ prop['statusLabel'] + '</td><td>' + prop['duration'] + '</td><td>' + prop['examScore'] + '</td></tr>'));
						}
						usersTable.draw();
						
						// Show modal
						$('#usersInfoModal').modal('show');
					} else {
						alertify.warning('Eğitimi alan kullanıcı bulunamadı.');
					}
				}
			});
		};
		
		$(function() {
			var fnActionBtns = function(row, type, val, meta) {
				return "<div class=\"btn-group\" role=\"group\">" 
					+ "<a class=\"btn btn-outline-primary\" href=\"/alfa/education/" + row["id"] + "\"><i class=\"fa fa-edit\"></i> Düzenle</a>"
					+ "<button class=\"btn btn-outline-secondary\" onclick=\"handleSend(" + row['id'] + ")\"><i class=\"fa fa-paper-plane\"></i> Paylaş</button>"
					+ "<button class=\"btn btn-outline-danger\" onclick=\"handleDelete('/alfa/education/" + row['id'] + "/delete')\"><i class=\"fa fa-trash\"></i> Sil</button>"
					+ "<button class=\"btn btn-outline-info\" onclick=\"handleUsers(" + row['id'] + ")\"><i class=\"fa fa-users\"></i> Eğitimi alan kullanıcılar</button>"
					+ "</div>";
			};
			
			var drawCallback = function(settings) {
				if ($("#newEducationBtn").length == 0) {
					$("#educationTable_filter").append("<button type=\"button\" class=\"btn btn-danger\" id=\"syncEducationBtn\">Senkronize et</button>");
					$("#educationTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newEducationBtn\">Yeni</button>");
					$("#newEducationBtn").off("click").on("click", function() {
						window.location.href = '/alfa/education/create';
					});
					$("#syncEducationBtn").off("click").on("click", function() {
						$.ajax({
							type: "GET",
							contentType: "application/json",
							url: "/alfa/education/snyc",
							cache: false,
							timeout: 600000,
							success: function(result) {
								alertify.success(result.message);
							}
						});
					});
				}
			};
			
			const cols = [
				{"data": "label", "searchable": true, "orderable": true }, 
				{"data": "description", "searchable": true, "orderable": true }, 
				{"data": fnActionBtns, "searchable": false, "orderable": false }
			];
			
			_table = $('#educationTable').paginatedTable("/alfa/education/list-paginated", "educations", cols, drawCallback);
		});
	</script>
</body>
</html>
