<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Sorun Listesi</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Sorun Listesi</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Sorun Listesi</h3>
					</div>
					<div class="box-body">
						<table id="problemTable" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Kısa tanım</th>
									<th>Durum</th>
									<th>Başlangıç tarihi</th>
									<th>Tahmini bitiş tarihi</th>
									<th>Çözüldüğü tarih</th>
									<th>İlişkili olduğu çevresel birimler</th>
									<th>İlişkili olduğu donanımlar</th>
									<th>İlişkili olduğu yazılım</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Process Selection Modal -->
		<div layout:insert="layouts/default-modal :: modal(modalId='processSelectModal', modalHeader='Süreç Başlat', modalButton='Başlat')"
			th:remove="tag">
			<div layout:fragment="modal-content" class="form-group">
				<select class="form-control" id="bpmProcess" name="bpmProcess" style="width: 100%;">
					<option th:each="process : ${processes}" th:text="${process.name + ' [' + process.version + ']'}" th:value="${process.id}"></option>
				</select>
			</div>
		</div>	
			
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		var dateFormat = /*[[${applicationDateFormat}]]*/ 'dd/mm/yyyy';
		
		var startProcess = function(id) {
			$("#processSelectModalBtn").on("click", function(){
				$('#processSelectModal').modal('hide');
				window.location.href = "/alfa/bpm-task/startForm/" + $("#bpmProcess").val() + "?relatedComponent=Sorun&relatedComponentId="+id + "&redirect=problem%2Flist";
			});
			
			$('#processSelectModal').modal('show');
		};

		$(function() {
				var fnActionBtns = function(row, type, val, meta) {
					return "<a class=\"btn btn-outline-primary\" href=\"/alfa/problem/" + row["id"] + "?redirect=problem/list\"><i class=\"fa fa-edit\"></i> Düzenle</a>" +
					   "<button class=\"btn btn-outline-dark\" onclick=\"startProcess("+ row['id']+")\"><i class=\"fa fa-step-forward\"></i> Süreç Başlat</button>";
				};
			
			var drawCallback = function(settings) {
				if ($("#newProblemBtn").length == 0) {
					$("#problemTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newProblemBtn\">Yeni</button>");
					$("#newProblemBtn").on("click", function() {
						window.location.href = '/alfa/problem/create?redirect=problem/list';
					});
				}
			};
			
			const cols = [
				{"data": "label", "searchable": true, "orderable": true }, 
				{"data": function ( row, type, val, meta ) {
					row["solved_str"] = row["solved"] == true ? "Çözüldü" : "Devam ediyor"; 
					return row["solved_str"];
				}, "searchable": true, "orderable": true },
				{"data": function(row) { return row["workStartDate"] ? moment(row["workStartDate"], "DD-MM-YYYY hh:mm:ss").format(dateFormat) : null; }, "property": "workStartDate", "searchable": true, "orderable": true }, 
				{"data": function(row) { return row["estimatedSolutionDate"] ? moment(row["estimatedSolutionDate"], "DD-MM-YYYY hh:mm:ss").format(dateFormat) : null; }, "property": "estimatedSolutionDate", "searchable": true, "orderable": true }, 
				{"data": function(row) { return row["solutionDate"] ? moment(row["solutionDate"], "DD-MM-YYYY hh:mm:ss").format(dateFormat) : null; }, "property": "solutionDate", "searchable": true, "orderable": true }, 
				{"data": "relatedPeripherals", "searchable": false, "orderable": false }, 
				{"data": "relatedHardwares", "searchable": false, "orderable": false }, 
				{"data": "relatedSoftwares", "searchable": false, "orderable": false }, 
				{"data": fnActionBtns, "searchable": false, "orderable": false }
			];
			
			$('#problemTable').paginatedTable("/alfa/problem/list-paginated", "problems", cols, drawCallback);
		});
		
	</script>
</body>
</html>
