<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<head>
	<title>Yazılım Envanteri</title>
	<!-- DataTables -->
	<link th:href="@{/plugins/DataTables/datatables.min.css}" rel="stylesheet" />
</head>
<body>
	<th:block layout:fragment="breadcrumb-list">
		<li class="active">Yazılım Envanteri</li>
	</th:block>

	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Yazılım listesi</h3>
					</div>
					<div class="box-body">
						<table id="packageTable" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Paket Adı</th>
									<th>Paket Sürümü</th>
									<th>İşlem</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script layout:fragment="custom-script" th:inline="javascript">
		$(function() {
			var fnActionBtns = function(row, type, val, meta) {
				return "<a class=\"btn\" href=\"/alfa/installed-package/" + row["id"] + "\"><i class=\"fa fa-edit\"></i> Düzenle</a>";
			};
			
			var drawCallback = function(settings) {
				if ($("#newPackageBtn").length == 0) {
					$("#packageTable_filter").append("<button type=\"button\" class=\"btn btn-info\" id=\"newPackageBtn\" style=\"margin-left:10px;\">Yeni</button>");
					$("#newPackageBtn").on("click", function() {
						window.location.href = /*[[@{'/installed-package/create'}]]*/'';
					});
				}
			};
			
			const cols = [
				{"data": "name", "property": "name", "name": "Paket Adı", "searchable": true, "orderable": true }, 
				{"data": "version", "property": "version", "name": "Paket Sürümü", "searchable": true, "orderable": true }, 
				{"data": fnActionBtns, "name": "Action", "searchable": false, "orderable": false }
			];
			
			$('#packageTable').paginatedTable("/alfa/installed-package/list-paginated", "packages", cols, drawCallback);
		});
	</script>
</body>
</html>
